<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <header id="header">
        <h1>备忘录</h1>
    </header>

    <div class="todo-submit">
        <input type="text" name="input" class="todo-input">
        <button type="submit" class="todo-add">提交</button>
    </div>

    <div class="todo-list">

    </div>

    <script type="text/javascript" src="/static/js/index.js"></script>
</body>
</html>