<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <div class="container">
        <header class="header">
            <!-- ToDoList 标题 -->
            <div class="header-main">
                <div class="header-title">
                    <label for="id-todo-input">ToDoList</label>
                </div>

                <!-- 输入框和添加按钮 -->
                <div class="header-butn">
                    <input type="text" id="id-todo-input" class="todo-input" placeholder="Add a to-do item" required="required"><!--
                    --><button type="button" name="button" class="todo-add">Add Task</button>
                </div>
            </div>
        </header>

        <section class="section">
            <div class="section-main">
                <h2 class="todo-title">看到它如此的空荡荡，你不想添加点什么吗？</h2>
                <div class="todo-list"></div>
            </div>
        </section>
    </div>

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</body>
</html>